body {
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    flex: 1; /* Expand to fill remaining space */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  /* blank dark triangle from figma */
  .rectangle1 {
    position: absolute;
    width: 1440px;
    height: 701px;
    left: 0px;
    top: -67px;

    background: #000000;
    opacity: 0.57;
    border-radius: 10px;
  }
  /* HOME */
  .homeBtn {
    position: absolute;
    width: 113px;
    height: 35px;
    left: 100px;
    top: 30px;

    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  
  header {
    background-color: #252422;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: goldenrod;
    color: #fff;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;

  }
  
